<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="plantillas/templates::head">
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body class="bgerror" >
    <!-- Navegador -->
    <div class="cont">
      <header th:replace="plantillas/templates::header"></header>
    </div>
    <!-- Contenido -->
    <div class="container text-center">
        <div class="panel py-3 m-3">
            <img th:src="@{/images/errors/403_image.png}" width="350" height="350" style="max-width: 100%;">
            <h3 class="text-center" style="margin-bottom: 0;"><strong>Lo sentimos no tienes los permisos necesarios para acceder al recurso solicitado :(</strong></h3><br>
            <button class="btn btnerror" onclick="irAtras()"><strong>«« Regresar »»</strong></button>
        </div>
    </div>    
    <!-- Footer -->
    <div style="bottom: 0;">
        <footer th:replace="plantillas/templates::footer"></footer>
    </div>
    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script>
        function irAtras() {
            window.history.back();
        }
    </script>
</body>
</html>